/*****Variables*****/
$dark: #000;
$white: #fff;
$primary-color-light: rgb(195, 0, 255);
$primary-color-light-opacity: rgba(0, 174, 255, 0.322);
$primary-color: rgb(48, 2, 75);
$primary-color-opacity: rgb(60, 9, 90);
$gray-color-light: #F0F0F0;
$gray-color-medium: #C8D0D0;
$gray-color-dark: #788890;
$facebook-color: rgb(59, 152, 152);
$google-color: rgb(223, 58, 39);
$google-color-opacity: rgba(223, 57, 39, 0.541);
$font-family: 'Roboto', sans-serif;
$slim-border: 1px solid $gray-color-medium;
$sidebar-width: 250px;
$border-radius-sm: 30px;
$border-radius-xs: 15px;

// #C8D0D0

// #E0E8F0